version: "3.9"

services:
  backend:
    build: .
    container_name: fire-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - orchestrator
      - minio
    restart: unless-stopped
